[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
flask = "*"
importlib = "*"
argparse = "*"
datetime = "*"
getkey = "*"
minimalmodbus = "*"
wave = "*"
uuid = "*"
deepdiff = "*"
json2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
