<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<div>
	<style>

		.axis--x path {
		  display: none;
		}
		
		.line {
		  fill: none;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}

		.overlay {
			fill: none;
			pointer-events: all;
		}

		.focus circle {
			fill: steelblue;
		}

		.focus text {
			font-size: 14px;
		}

		.tooltip {
			fill: white;
			stroke: #000;
		}

		.tooltip-timestamp, .tooltip-value {
			font-weight: bold;
		}
		
	</style>
    <script src="{{url_for('static', filename='d3.v5.min.js')}}"></script>

	<div id=motor1 style="display:block;"><svg width="800" height="160" ></svg></div>
	<div id=motor2 style="display:block;"><svg width="800" height="160" ></svg></div>

	<script>

				// Read URL parameters
		var vars = {}, hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for (var i = 0; i < hashes.length; i++) {
			hash = hashes[i].split('=');
			vars[hash[0]] = hash[1] == 0 ? 0 :
							hash[1] == "false" ? false :
							hash[1];
		}

		var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S.%L"),
			dateFormatter = d3.timeFormat("%H:%M:%S.%L");

		var svg = d3.select("#motor1 svg"),
			margin = {top: 20, right: 20, bottom: 30, left: 50},
			width = +svg.attr("width") - margin.left - margin.right,
			height = +svg.attr("height") - margin.top - margin.bottom;

		svg.append("g")
			.attr("class", "viewport")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		var x = d3.scaleTime()
			.rangeRound([0, width]);
		
		var y = d3.scaleLinear()
			.rangeRound([height, 0]);
		
		var line = d3.line()
			.x(function(d) { return x(d.timestamp); })
			.y(function(d) { return y(d.devices[0].speed); });

		var renderData = function(error, data) {
			if (error) throw error;

			g = svg.select(".viewport");
			
			x.domain(d3.extent(data, function(d) { return d.timestamp; }));
			y.domain(d3.extent(data, function(d) { return d.devices[0].speed; }));
			
			g.select(".axis--x").remove();
			g.append("g")
				.attr("class", "axis axis--x")
				.attr("transform", "translate(0," + height + ")")
				.call(d3.axisBottom(x)
						.tickFormat(d3.timeFormat("%H:%M:%S")));
			
			g.select(".axis--y").remove();
			g.append("g")
				.attr("class", "axis axis--y")
				.call(d3.axisLeft(y))
				.append("text")
				.attr("fill", "#000")
				.attr("transform", "rotate(-90)")
				.attr("y", 6)
				.attr("dy", "0.71em")
				.style("text-anchor", "end")
				.text("Motor1 Speed");
			
			g.select(".line").remove();
			g.append("path")
				.datum(data)
				.attr("class", "line")
				.attr("d", line);

			g.select(".focus").remove();
			var focus = g.append("g")
				.attr("class", "focus")
				.style("display", "none");

			focus.append("circle")
				.attr("class", "circle")
				.attr("r", 5);

			focus.append("rect")
				.attr("class", "tooltip")
				.attr("width", 200)
				.attr("height", 250)
				.attr("x", 10)
				.attr("y", -22)
				.attr("rx", 4)
				.attr("ry", 4);

			focus.append("text")
				.attr("class", "tooltip-timestamp")
				.attr("x", 18)
				.attr("y", -2);

			focus.append("text")
				.attr("x", 18)
				.attr("y", 18)
				.text("Voltage:");

			focus.append("text")
				.attr("class", "tooltip-value")
				.attr("x", 70)
				.attr("y", 18);

			g.select(".overlay").remove();
			g.append("rect")
				.attr("class", "overlay")
				.attr("width", width)
				.attr("height", height)
				.on("mouseover", function() { focus.style("display", null); })
				.on("mouseout", function() { focus.style("display", "none"); })
				.on("mousemove", mousemove);

			function mousemove() {
				var x0 = x.invert(d3.mouse(this)[0]),
					ii = 0;
					d = data.find(function(e,i) { ii = i; return e.timestamp > x0; } );
					d = data[ii>0 ? ii-1 : ii];
				if (d) {
					focus.attr("transform", "translate(" + (x(d.timestamp) + 200 > width ? x(d.timestamp) - 210 : x(d.timestamp)) + "," + y(d.device[0].speed) + ")");
					focus.select(".tooltip").attr("x", x(d.timestamp) + 200 > width ? 0 : 10);
					focus.select(".circle").attr("cx", x(d.timestamp) + 200 > width ? 210 : 0);
					focus.select(".tooltip-timestamp").text(d.time);
					focus.select(".tooltip-value").text(d.voltage + " V");
				}
			}
		}

		var max_time = "";
		var data = [];
		var motor1_streams = {};
		var motor2_streams = {};
		var refresh = function (){
			d3.json(vars['src'] ? vars['src'] : `/events?type=motion_stats&limit=99999&since=${max_time}`).then(function(results) {

				// Sort first
				results.sort(function(a, b) {
					return a.timestamp - b.timestamp;
				});

				// filter only thos that have devices
				results = results.filter(function(d, i) {
					// Skip if less than 2 devices
					if (!d.devices || d.devices.length < 2) return false;

					// Convert the date
					d.timestamp = parseDate(d.time.match(/.+[.]\d\d\d/));	// cut milliseconds only to 3 digits

					// Record the max time for next scheduled pull to avoid duplication
					max_time = max_time < d.time ? d.time : max_time;
					
					return true;
				})

				// Transform the data
				results.map(function(d, i) {
					// FROM: [ { time, devices[ {voltage, torque, current, ...} ] }, ... ]
					// TO: motor1_streams = { key=voltage, values=[{time, voltage}], 
					//						  key=torque, values=[{time, torque}], 
					//						  key=current, values=[{time, current}], ... }
					for (var attr in d.devices[0]) {
						if (!motor1_streams[attr]) {
							motor1_streams[attr] = { 'key': attr, 'values': [] };
							motor1_streams.__list__ = motor1_streams.__list__ || [];
							motor1_streams.__list__.push(motor1_streams[attr]);
						}
						var value = {
							'timestamp': d.timestamp,
						};
						value[attr] = d.devices[0][attr];
						motor1_streams[attr].values.push(value);
					}

					for (var attr in d.devices[1]) {
						if (!motor2_streams[attr]) {
							motor2_streams[attr] = { 'key': attr, 'values': [] };
							motor2_streams.__list__ = motor2_streams.__list__ || [];
							motor2_streams.__list__.push(motor2_streams[attr]);
						}
						var value = {
							'timestamp': d.timestamp,
						};
						value[attr] = d.devices[0][attr];
						motor2_streams[attr].values.push(value);
					}
				})

				// Concat the raw data
				data = data.concat(results);

				// Render
				renderData(false, data);
			});

			setTimeout(refresh, 1000);
		}

		refresh();
	
	</script>
</div>
